#imagerow, #answersrow {
    text-align: center;
}

.images {
    width: 100%;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #26ff00;
}